/**
    Project: $__PROJECT__
    File   : $__FILENAME__
    Autor  : $__USER__
    Date   : $__DATE__
*/
#include "stdio.h"

int main(int argc, char const *argv[])
{
    printf("Proyecto $__PROJECT__ \n");
    return 0;
}